body {
    margin: 0;
    padding: 0;
    background: #000000;
}

p {
    font-size: 16px;
    line-height: 14px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(bebe.jpg)no-repeat center /cover;
    background-size: 1000px;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
      user-select: none;
    -webkit-user-select: none;
}